{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  {% load staticfiles %}
  <h1 style="margin-left: 40px">Привет, я автор этого замечательного проекта!</h1>
  <p style="margin-left: 40px">
    Уважаемый ревьюер, я пока не очень силён в бэккенде, и мне очень сложно отвлекаться.<br>
    Я очень стараюсь, но как Вы могли заметить, мой код пока что не очень(.<br>
    Очень сложно уложить все аспекты Django в своей голове, но потихоньку всё становится ясно.<br>
    В представлениях приложения posts я применил различные подходы в написании кода. Надеюсь Вы укажите мои ошибки.<br>
    Спасибо Вам большое за курс и Вашу работу, так моя голова уже давно не потела, и я этому очень рад!<br>
  </p>
  <img src="{% static 'img/unnamed.jpg' %}" style="margin-left: 40px">
{% endblock %}
